:host .flickity-slider > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

:host .flickity-prev-next-button {
  top: auto;
  height: 100vh;
  width: 20%;
  bottom: 0;
  transform: none;
  border-radius: 0;
}

:host .flickity-button {
  background: none;
}

.flickity-button:active {
  opacity: 1;
}

.flickity-prev-next-button .flickity-button-icon {
  bottom: 50%;
  left: auto;
  height: 35px;
  width: 35px;   
  margin-top: 17px;
}

:host .flickity-prev-next-button.previous {
  left: 0;
}

:host .flickity-prev-next-button.next {
  cursor: ;
  right: 0;
}
:host .flickity-button-icon { display: none }

:host .flickity-prev-next-button:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  bottom: 1rem;
  height: 1.5rem;
  width: 1.5rem;   
  transition: transform 150ms ease-out;
}

:host .flickity-prev-next-button.previous:before {
  background-image: url(/assets/arrow-left.svg);
  left: 1rem;
}

:host .flickity-prev-next-button.next:before {
  background-image: url(/assets/arrow-right.svg);
  right: 1rem;
}

:host .flickity-prev-next-button.previous:hover:before {
  transform: translate3d(0.5rem, 0, 0);
}

:host .flickity-prev-next-button.next:hover:before {
  transform: translate3d(-0.5rem, 0, 0);
}

/*
:host.is-draggable .flickity-viewport {
  cursor: pointer !important;
}
*/

@media (max-width: 800px) {
  :host .flickity-prev-next-button {
    display: none;
  }
}

/**
 * Slides
 */

:host .slide-contain {
  display: flex;
  padding: 3.5rem;
}

:host .slide-contain.no-pad {
  padding: 0;
}

:host .slide-contain > * {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  :host .slide-contain {
    padding: 3.5rem 1rem;
  }
}
